// Контейнеры
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Фон для тестирования размеров контейнера */
  /* background-color: wheat; */

  &--main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &--bottom-info {
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop-width) {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: $phone-width) {
    width: $phone-width;
  }

  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
  }
}