// Чем мы занимаемся
.our-works {
  display: flex;

  &__item {
    position: relative;
  }

  &__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  
    bottom: 0px;
    width: 100%;
    height: 70px;
  
    background-color: $our-works-overlay-color;
  }

  &__name {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  
    color: $main-light-color;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}