// Селектор контента
.content-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item {
    margin-right: 8px;
  }

  &__item:last-child {
    margin-right: 0px;
  }
}

// Портфолио
.portfolio__header {
  color: $main-black-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: $main-light-color;

  &__link {
    transition: box-shadow $timing $timing-function;
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
      0px 4px 4px rgba(0, 0, 0, 0.06), 
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  &__content {
    border-right: 1px solid $portfolio-stroke-color;
    border-bottom: 1px solid $portfolio-stroke-color;
    border-left: 1px solid $portfolio-stroke-color;
    padding: 20px 24px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  
    color: $primary-text-color;
  }

  &__theme {
    font-size: 16px;
    line-height: 2;
  
    color: $secondary-text-color;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100%;
  
    background-color: $accent-color-trasparent-2;
  
    transform: translateY(100%);
    transition: transform $timing $timing-function;
  }

  &__link:hover &__overlay,
  &__link:focus &__overlay {
    transform: translateY(0%);
  }

  &__description {
    font-size: 18px;
    line-height: 1.56;
  
    margin-left: 24px;
    margin-right: 24px;

    color: $main-light-color;
  }
}