// Общая стилизация
body {
    color: $primary-text-color;
    background-color: $main-light-color;
    font-family: $text-font, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @media screen and (min-width: $phone-width) {
      background-color: lightsalmon;
    }

    @media screen and (min-width: $tablet-width) {
      background-color: lightgreen;
    }

    @media screen and (min-width: $desktop-width) {
      background-color: lightcoral;
    }
  }

a {
  text-decoration: none;
}

img, svg, a {
  display: block;
}

h1, h2, h3, p {
  padding: 0px;
  margin: 0px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin-top: 0px;
    margin-bottom: 30px;
  
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    // @media screen and (min-width: $phone-width) {
      
    // }

    // @media screen and (min-width: $tablet-width) {
      
    // }

    @media screen and (min-width: $desktop-width) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--features {
    @media screen and (min-width: $desktop-width) {
      padding-bottom: 0px;
    }
  }

  &--our-works {
    display: none;

    @media screen and (min-width: $desktop-width) {
      display: block;
    }
  }
}

// Прячем заголовки
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Список без буллетов
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}